@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Lovera</title>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Volkhov-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet" />
    <!-- Font Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Css Custom -->
    <link rel="stylesheet" href="~/css/layout.css" />

    <link rel="stylesheet" href="~/css/destinos.css" />

</head>

<body>
    <!--==================== NAV BAR ====================-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light p-md-3">
        <div class="container">
            <a class="navbar-brand nav_logo" asp-controller="Home" asp-action="Index">
                <img src="~/img/lovera+.png" alt="logo-lovera" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mx-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav_links" asp-controller="Home" asp-action="Destinos"> <i
                                class="fa-solid fa-plane-departure"></i>
                            Destinos </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_links" asp-controller="Home" asp-action="Promo"> <i
                                class="fa-solid fa-briefcase"></i>
                            Promoções </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_links" asp-controller="Home" asp-action="Contact"> <i
                                class="fa-solid fa-address-book"></i>
                            Contato </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_links" asp-controller="Home" asp-action="Login"> Login <i
                                class="fa-solid fa-right-to-bracket"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_links nav_btn" asp-controller="Home" asp-action="Login">Criar Conta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--==================== CAROUSEL ====================-->
    <section class="carousel_container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/rio.jpg" class="d-block w-100 vh-100" alt="..." />
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="fs-1">Foz do Iguaçu</h5>
                        <p>
                            Sua viagem completa. <br />
                            Saindo de Brasilia
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/sampa.jpg" class="d-block w-100 vh-100" alt="..." />
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="fs-1">São Paulol</h5>
                        <p>
                            Sua viagem completa. <br />
                            Saindo de Brasilia
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/foz.jpg" class="d-block w-100 vh-100" alt="..." />
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="fs-1">Rio de Janeiro</h5>
                        <p>
                            Sua viagem completa. <br />
                            Saindo de Brasilia.
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!--==================== CARDS ====================-->
    <div class="container" id="container">
        <h1 class="title text-center">Pacotes imperdíveis para suas próximas férias</h1>
        <p class="subtitle text-center">As melhores ofertas para você com preços especiais para destinos inesquecíveis!
        </p>
        <section class="cards_container">
            <div class="cards_container-card">
                <img src="~/img/sao-paulo.jpeg" alt="" />
                <div class="cards_container-body">
                    <h4>Sao paulo</h4>
                    <p>
                        Brasil <br />
                        <i class="fa-solid fa-arrow-down"></i>
                    </p>
                    <a href="#" class="cards_container-btn"> Promoções<i
                            class="fa-solid fa-arrow-down-to-square"></i></a>
                </div>
            </div>
            <div class="cards_container-card">
                <img src="~/img/rioDeJaneiro.jpeg" alt="" />
                <div class="cards_container-body">
                    <h4>Rio de Janerio</h4>
                    <p>
                        Brasil <br />
                        <i class="fa-solid fa-arrow-down"></i>
                    </p>
                    <a href="#" class="cards_container-btn"> Promoções<i
                            class="fa-solid fa-arrow-down-to-square"></i></a>
                </div>
            </div>
            <div class="cards_container-card">
                <img src="~/img/lisboa.jpeg" alt="" />
                <div class="cards_container-body">
                    <h4>Lisboa</h4>
                    <p>
                        Portugal <br />
                        <i class="fa-solid fa-arrow-down"></i>
                    </p>
                    <a href="#" class="cards_container-btn"> Promoções<i
                            class="fa-solid fa-arrow-down-to-square"></i></a>
                </div>
            </div>
            <div class="cards_container-card">
                <img src="~/img/natal.jpeg" alt="" />
                <div class="cards_container-body">
                    <h4>Natal</h4>
                    <p>
                        Brasil <br />
                        <i class="fa-solid fa-arrow-down"></i>
                    </p>
                    <a href="#" class="cards_container-btn"> Promoções<i
                            class="fa-solid fa-arrow-down-to-square"></i></a>
                </div>
            </div>
            <div class="cards_container-card">
                <img src="~/img/orlando.jpeg" alt="" />
                <div class="cards_container-body">
                    <h4>Orlando</h4>
                    <p>
                        EEUU <br />
                        <i class="fa-solid fa-arrow-down"></i>
                    </p>
                    <a href="#" class="cards_container-btn"> Promoções<i
                            class="fa-solid fa-arrow-down-to-square"></i></a>
                </div>
            </div>
            <div class="cards_container-card">
                <img src="~/img/maceio-1.jpeg" alt="" />
                <div class="cards_container-body">
                    <h4>Maceió</h4>
                    <p>
                        Brasil <br />
                        <i class="fa-solid fa-arrow-down"></i>
                    </p>
                    <a href="#" class="cards_container-btn"> Promoções<i
                            class="fa-solid fa-arrow-down-to-square"></i></a>
                </div>
            </div>
            <div class="cards_container-card">
                <img src="~/img/fozDoIguacu.png" alt="" />
                <div class="cards_container-body">
                    <h4>Foz do Iguaçu</h4>
                    <p>
                        Brasil <br />
                        <i class="fa-solid fa-arrow-down"></i>
                    </p>
                    <a href="#" class="cards_container-btn"> Promoções<i
                            class="fa-solid fa-arrow-down-to-square"></i></a>
                </div>
            </div>
            <div class="cards_container-card">
                <img src="~/img/joaoPessoa.jpeg" alt="" />
                <div class="cards_container-body">
                    <h4>João Pessoa</h4>
                    <p>
                        Brasil <br />
                        <i class="fa-solid fa-arrow-down"></i>
                    </p>
                    <a href="#" class="cards_container-btn"> Promoções<i
                            class="fa-solid fa-arrow-down-to-square"></i></a>
                </div>
            </div>
            <div class="cards_container-card">
                <img src="~/img/salvador-1.jpeg" alt="" />
                <div class="cards_container-body">
                    <h4>Salvador</h4>
                    <p>
                        Brasil <br />
                        <i class="fa-solid fa-arrow-down"></i>
                    </p>
                    <a href="#" class="cards_container-btn"> Promoções<i
                            class="fa-solid fa-arrow-down-to-square"></i></a>
                </div>
            </div>
        </section>
    </div>
    <!--==================== fOOTER ====================-->
    <footer class="footer">
        <section class="footer_container container">
            <div class="footer_content">
                <div class="footer_data">
                    <h3 class="footer_title">Lovera</h3>
                    <p class="footer_description">
                        Travel you choose the <br />
                        destination, we offer you the <br />
                        experience.
                    </p>
                    <div class="footer_social">
                        <a href="https://www.facebook.com/" target="_blank" class="footer_social-media">
                            <i class="fa-brands fa-facebook-square"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="footer_social-media">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="footer_social-media">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.youtube.com/" target="_blank" class="footer_social-media">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
                <div class="footer_data">
                    <h3 class="footer_subtitle">About</h3>
                    <ul>
                        <li class="footer_item">
                            <a href="" class="footer_link">About Us</a>
                        </li>
                        <li class="footer_item">
                            <a href="" class="footer_link">Features</a>
                        </li>
                        <li class="footer_item">
                            <a href="" class="footer_link">New & Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_data">
                    <h3 class="footer_subtitle">Company</h3>
                    <ul>
                        <li class="footer_item">
                            <a href="" class="footer_link">Team</a>
                        </li>
                        <li class="footer_item">
                            <a href="" class="footer_link">Plan y Pricing</a>
                        </li>
                        <li class="footer_item">
                            <a href="" class="footer_link">Become a member</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_data">
                    <h3 class="footer_subtitle">Support</h3>
                    <ul>
                        <li class="footer_item">
                            <a href="" class="footer_link">FAQs</a>
                        </li>
                        <li class="footer_item">
                            <a href="" class="footer_link">Support Center</a>
                        </li>
                        <li class="footer_item">
                            <a href="" class="footer_link">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer_rights">
                <p class="footer__copy">&#169; 2021 Abimael Lovera.</p>
                <div class="footer__terms">
                    <a href="#" class="footer__terms-link">Terms & Agreements</a>
                    <a href="#" class="footer__terms-link">Privacy Policy</a>
                </div>
            </div>
        </section>
    </footer>
    <!--==================== SCRIPTS ====================-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        const nav = document.querySelector('nav');

        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 100) {
                // nav.classList.remove('navbar-light');
                nav.classList.add('bg-light', 'shadow');
            } else {
                nav.classList.remove('bg-light', 'shadow');
                nav.classList.add('navbar-light');
            }
        });
        // Login
        const x = document.getElementById('login');
        const y = document.getElementById('register');
        const btn = document.getElementById('btn');
        function register() {
            x.style.left = '-400px';
            y.style.left = '50px';
            btn.style.left = '125px';
            console.log(login, registerA, btn);
        }
        function login() {
            x.style.left = '50px';
            y.style.left = '450px';
            btn.style.left = '-1px';
            console.log(login, registerA, btn);
        }
    </script>
</body>

</html>